* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "poppins", sans-serif;
}
nav {
  display: flex;
  padding: 2% 6%;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  background-color: #fbf7f4;
  z-index: 1;
}
nav img {
  width: 50px;
}
.navbar {
  flex: 1;
  padding: 20px;
  right: 200px;
}
.navlinks {
  text-align: right;
  flex: 1;
}
.navlinks ul li {
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  left: 20px;
  top: -5px;
  list-style: none;
}
.navlinks ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  transition: 0.5s;
  cursor: pointer;
}
.navlinks ul li a:hover {
  color: #ff523b;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row1,
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 500px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
  height: auto;
  border-radius: 70px;
  object-fit: contain;
  transition: 0.5s;
  transform: skewY(4deg);
}
.col-2 img:hover {
  border-radius: 10%;
}
.col-2 h1,
.rer {
  font-size: 50px;
  line-height: 0;

  margin-top: 140px;
}
.col-2 .rer {
  color: #ff523b;
}
.col-2 p {
  color: #100f0f;
  line-height: 42px;
  font-size: 20px;
  font-weight: 500;
  margin: 45px 10px;
}
.col-2 h2 {
  color: #100f0f;
  line-height: 42px;
  font-size: 25px;
  font-weight: 600;
  margin: 45px 10px;
  font-style: italic;
}
.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover {
  background: #563434;
}
.header {
  background: radial-gradient(#fff, #6e7a84);
}
.header row {
  margin-top: 70px;
}
.mySlides {
  display: none;
}
.mySlides img {
  height: 50%;
  width: 100%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*------how we do it-----*/
.intro {
  width: 90%;
  position: relative;
  margin: auto;
  text-align: center;
  padding: 100px;
}
.intro-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 10%;
  text-align: center;
}
.intro-col img {
  width: 100%;
  border-radius: 20px;
}
.intro-col img .intro-col p {
  padding: 0;
}

.intro-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 25px;
}
.intro-col .arr {
  color: #100f0f;
  line-height: 42px;
  font-size: 20px;
  font-weight: 500;
  margin: 45px 10px;
}
p ul li {
  list-style: none;
}
.edit {
  display: block;
  align-items: center;
  justify-content: center;
  position: relative;
}
.edit h1 {
  font-size: 30px;
  padding: 0;
  margin-bottom: 20px;
}
.edit p {
  line-height: 42px;
  line-break: auto;
  font-weight: 200;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 20px;
}
.list ul li {
  list-style: none;
}
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  side-col h1 {
    font-size: 30px;
  }
}
.mid {
  background: radial-gradient(#f6caca, #6e7a84);
  width: 100%;
  position: relative;

  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;

  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
}
.row2 {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col {
  flex-basis: 25%;
  padding: 10px;
}
.icons .fa {
  color: #fff;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.side {
  margin: auto;
  position: relative;
  text-align: center;
  justify-content: center;
  bottom: 100px;
  padding: 100px;
}
.side .side-col {
  flex-basis: 50%;
  min-width: 500px;
}
.side-col p {
  color: #100f0f;
  line-height: 42px;
  font-size: 20px;
  font-weight: 500;
  margin: 45px 10px;
}
.side-col h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 0;
}
